APP_PORT=8080
ASPNETCORE_ENVIRONMENT=Production
SWAGGER_ENABLED=false
CORS_ALLOWED_ORIGINS=https://your-frontend-domain.com
DEFAULT_CONNECTION=Host=YOUR_POSTGRES_HOST;Port=5432;Database=YOUR_DATABASE;Username=YOUR_USERNAME;Password=YOUR_PASSWORD;SSL Mode=Require;Channel Binding=Require
